<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :number, class: "control-label" %>
    <%= text_input f, :number, class: "form-control" %>
    <%= error_tag f, :number %>
  </div>

  <div class="form-group">
    <%= label f, :total_amount, class: "control-label" %>
    <%= number_input f, :total_amount, step: "any", class: "form-control" %>
    <%= error_tag f, :total_amount %>
  </div>

  <div class="form-group">
    <%= label f, :desc, class: "control-label" %>
    <%= textarea f, :desc, class: "form-control" %>
    <%= error_tag f, :desc %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
