<h2>Listing Accounts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Desc</th>
      <th>Total amount</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for account <- @accounts do %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.number %></td>
      <td><%= account.desc %></td>
      <td><%= account.total_amount %></td>
      <td><%= account.user_id %></td>


      <td class="text-right">
        <span><%= link "Show", to: account_path(@conn, :show, account), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: account_path(@conn, :edit, account), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: account_path(@conn, :delete, account), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Account", to: account_path(@conn, :new) %></span>
