<h2>Show Account</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @account.name %>
  </li>

  <li>
    <strong>Number:</strong>
    <%= @account.number %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @account.desc %>
  </li>

  <li>
    <strong>Total amount:</strong>
    <%= @account.total_amount %>
  </li>

  <li>
    <strong>Soft delete:</strong>
    <%= @account.soft_delete %>
  </li>

</ul>

<span><%= link "Edit", to: account_path(@conn, :edit, @account) %></span>
<span><%= link "Back", to: account_path(@conn, :index) %></span>
