<h2>Edit Budget category</h2>

<%= render "form.html", Map.put(assigns, :action, budget_category_path(@conn, :update, @budget_category)) %>

<span><%= link "Back", to: budget_category_path(@conn, :index) %></span>
