<h2>Listing Budget categories</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Desc</th>
      <th>Account</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for budget_category <- @budget_categories do %>
    <tr>
      <td><%= budget_category.name %></td>
      <td><%= budget_category.amount %></td>
      <td><%= budget_category.desc %></td>
      <td><%= budget_category.account_id %></td>

      <td class="text-right">
        <span><%= link "Show", to: budget_category_path(@conn, :show, budget_category), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: budget_category_path(@conn, :edit, budget_category), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: budget_category_path(@conn, :delete, budget_category), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Budget category", to: budget_category_path(@conn, :new) %></span>
