<h2>Show Budget category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @budget_category.name %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @budget_category.amount %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @budget_category.desc %>
  </li>

  <li>
    <strong>Soft delete:</strong>
    <%= @budget_category.soft_delete %>
  </li>

</ul>

<span><%= link "Edit", to: budget_category_path(@conn, :edit, @budget_category) %></span>
<span><%= link "Back", to: budget_category_path(@conn, :index) %></span>
