<div>
<script>
window.onload = function () {

var hold_trans = [0,0,0,0,0,0,0,0,0,0,0,0];
var points_of_data = [];

<%= for transaction <- @transactions do %>
    hold_trans[<%= transaction %>] += 1;
<% end %>

<%= for category <- @categories do %>
    points_of_data.push({ y: hold_trans[<%=  category["id"] %>], label: "<%= category["name"] %>" });
<% end %>


console.log(hold_trans)
console.log(points_of_data)


var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	title:{
		text:"Transactions"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
		title: "Number of Transactions per Category"
	},
	data: [{
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: points_of_data
	}]
});
chart.render();

var chart = AmCharts.makeChart( "chartdiv", {
  "type": "pie",
  "theme": "light",
  "dataProvider": points_of_data,
  "valueField": "y",
  "titleField": "label",
   "balloon":{
   "fixedPosition":true
  },
  "export": {
    "enabled": true
  }
} );
}
</script>


<div></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div></div>
<div id="chartdiv"></div>


</div>