<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :amount, class: "control-label" %>
    <%= number_input f, :amount, step: "any", class: "form-control" %>
    <%= error_tag f, :amount %>
  </div>

  <div class="form-group">
    <%= label f, :account_id, class: "control-label" %>
    <%= number_input f, :account_id, class: "form-control" %>
    <%= error_tag f, :account_id %>
  </div>

  <div class="form-group">
    <%= label f, :category_id, class: "control-label" %>
    <%= number_input f, :category_id, class: "form-control" %>
    <%= error_tag f, :category_id %>
  </div>

  <div class="form-group">
    <%= label f, :desc, class: "control-label" %>
    <%= textarea f, :desc, class: "form-control" %>
    <%= error_tag f, :desc %>
  </div>

  <div class="form-group" accept="text/csv">
      <%= label f, :csv_file, class: "control-label" %>
      <%= file_input f, :csv_file, class: "form-control" %>
      <%= error_tag f, :csv_file %>
      ** WIP currently disabled **
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
