<h2>Listing Transactions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Desc</th>
      <th>Account</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for transaction <- @transactions do %>
    <tr>
      <td><%= transaction.name %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.desc %></td>
      <td><%= transaction.account_id %></td>

      <td class="text-right">
        <span><%= link "Show", to: transaction_path(@conn, :show, transaction), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: transaction_path(@conn, :edit, transaction), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: transaction_path(@conn, :delete, transaction), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Transaction", to: transaction_path(@conn, :new) %></span>

