<h2>Show Transaction</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @transaction.name %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @transaction.amount %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @transaction.desc %>
  </li>

  <li>
    <strong>Soft delete:</strong>
    <%= @transaction.soft_delete %>
  </li>

</ul>

<span><%= link "Edit", to: transaction_path(@conn, :edit, @transaction) %></span>
<span><%= link "Back", to: transaction_path(@conn, :index) %></span>
